/* CSS Document */
/* welcome */
.welcome {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    overflow: hidden;
}

    .welcome .wel_in {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.75);
    }

        .welcome .wel_in img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1000;
            overflow: hidden;
        }

    .welcome .title {
        width: 568px;
        height: 154px;
        background: url(../images/title.png) no-repeat -116px -168px;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 100;
        margin-left: -284px;
        margin-top: -126px;
    }

    .welcome .title1 {
        width: 200px;
        height: 58px;
        background: url(../images/title1.png) no-repeat -300px -171px;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 100;
        margin-left: -100px;
        margin-top: 100px;
        cursor: pointer;
    }

.enter {
    cursor: pointer;
}

    .enter p {
        width: 12px;
        height: 12px;
        text-align: center;
        line-height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -6px;
        font-size: 1em;
        border: 3px solid #fff;
        transform: rotate(45deg);
        border-radius: 2px;
        border-left: 0;
        border-top: 0;
        z-index: 100;
    }

        .enter p:nth-of-type(1) {
            animation: mysport01 1.5s infinite;
            -webkit-animation: mysport01 1.5s infinite;
            -o-animation: mysport01 1.5s infinite;
            -moz-animation: mysport01 1.5s infinite;
            -ms-animation: mysport01 1.5s infinite;
        }

        .enter p:nth-of-type(2) {
            animation: mysport02 1.5s infinite;
            -webkit-animation: mysport02 1.5s infinite;
            -moz-animation: mysport02 1.5s infinite;
            -ms-animation: mysport02 1.5s infinite;
            -o-animation: mysport02 1.5s infinite;
        }

        .enter p:nth-of-type(3) {
            animation: mysport03 1.5s infinite;
            -moz-animation: mysport03 1.5s infinite;
            -ms-animation: mysport03 1.5s infinite;
            -o-animation: mysport03 1.5s infinite;
            -webkit-animation: mysport03 1.5s infinite;
        }

@keyframes mysport01 {
    0% {
        top: 500px;
    }

    100% {
        top: 520px;
    }
}

@-moz-keyframes mysport01 {
    0% {
        top: 500px;
    }

    100% {
        top: 520px;
    }
}

@-ms-keyframes mysport01 {
    0% {
        top: 500px;
    }

    100% {
        top: 520px;
    }
}

@-webkit-keyframes mysport01 {
    0% {
        top: 500px;
    }

    100% {
        top: 520px;
    }
}

@-o-keyframes mysport01 {
    0% {
        top: 500px;
    }

    100% {
        top: 520px;
    }
}

@keyframes mysport02 {
    0% {
        top: 530px;
    }

    100% {
        top: 550px;
    }
}

@-moz-keyframes mysport02 {
    0% {
        top: 530px;
    }

    100% {
        top: 550px;
    }
}

@-ms-keyframes mysport02 {
    0% {
        top: 530px;
    }

    100% {
        top: 550px;
    }
}

@-webkit-keyframes mysport02 {
    0% {
        top: 530px;
    }

    100% {
        top: 550px;
    }
}

@-o-keyframes mysport02 {
    0% {
        top: 530px;
    }

    100% {
        top: 550px;
    }
}

@keyframes mysport03 {
    0% {
        top: 560px;
    }

    100% {
        top: 580px;
    }
}

@-moz-keyframes mysport03 {
    0% {
        top: 560px;
    }

    100% {
        top: 580px;
    }
}

@-ms-keyframes mysport03 {
    0% {
        top: 560px;
    }

    100% {
        top: 580px;
    }
}

@-o-keyframes mysport03 {
    0% {
        top: 560px;
    }

    100% {
        top: 580px;
    }
}

@-webkit-keyframes mysport03 {
    0% {
        top: 560px;
    }

    100% {
        top: 580px;
    }
}


/* gps */
.gps {
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -110px;
    z-index: 10;
}

    .gps li {
        width: 34px;
        height: 34px;
        margin-bottom: 20px;
        cursor: pointer;
        position: relative;
        opacity: 0.6;
    }

        .gps li .circle02 {
            width: 34px;
            height: 34px;
            border: 1px solid #00ff00;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -19px 0 0 -17px;
        }

        .gps li .circle01 {
            width: 22px;
            height: 22px;
            border: 2px solid #00ff00;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -14px 0 0 -12px;
        }

    .gps .current {
        opacity: 1;
    }

    .gps .show .circle01 {
        width: 34px;
        height: 34px;
        border: 1px solid #00ff00;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -17px 0 0 -17px;
    }

    .gps .show .circle02 {
        width: 24px;
        height: 24px;
        border: 2px solid #00ff00;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -13px 0 0 -13px;
    }

    .gps .show .circle03 {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -5px 0 0 -5px;
        background: #fff000;
    }


/* music */
.music {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 1000;
}

    .music ul {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

        .music ul > li:nth-of-type(1) {
            width: 3px;
            height: 8px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            animation: music 1s infinite;
            -moz-animation: music 1s infinite;
            -webkit-animation: music 1s infinite;
            -o-animation: music 1s infinite;
            -ms-animation: music 1s infinite;
        }

        .music ul > li:nth-of-type(2) {
            width: 3px;
            height: 18px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 6px;
            animation: music01 0.8s infinite;
            -moz-animation: music01 0.8s infinite;
            -ms-animation: music01 0.8s infinite;
            -o-animation: music01 0.8s infinite;
            -webkit-animation: music01 0.8s infinite;
        }

        .music ul > li:nth-of-type(3) {
            width: 3px;
            height: 14px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 12px;
            animation: music02 1.4s infinite;
            -moz-animation: music03 1.4s infinite;
            -ms-animation: music03 1.4s infinite;
            -webkit-animation: music03 1.4s infinite;
            -o-animation: music03 1.4s infinite;
        }

        .music ul > li:nth-of-type(4) {
            width: 3px;
            height: 4px;
            background: #fff;
            position: absolute;
            bottom: 0;
            left: 18px;
            animation: music03 1.1s infinite;
            -moz-animation: music03 1.1s infinite;
            -ms-animation: music03 1.1s infinite;
            -webkit-animation: music03 1.1s infinite;
            -o-animation: music03 1.1s infinite;
        }

@keyframes music {
    0% {
        height: 0px;
    }

    100% {
        height: 8px;
    }
}

@-moz-keyframes music {
    0% {
        height: 0px;
    }

    100% {
        height: 8px;
    }
}

@-ms-keyframes music {
    0% {
        height: 0px;
    }

    100% {
        height: 8px;
    }
}

@-o-keyframes music {
    0% {
        height: 0px;
    }

    100% {
        height: 8px;
    }
}

@-webkit-keyframes music {
    0% {
        height: 0px;
    }

    100% {
        height: 8px;
    }
}

@keyframes music01 {
    0% {
        height: 0px;
    }

    100% {
        height: 18px;
    }
}

@-moz-keyframes music01 {
    0% {
        height: 0px;
    }

    100% {
        height: 18px;
    }
}

@-ms-keyframes music01 {
    0% {
        height: 0px;
    }

    100% {
        height: 18px;
    }
}

@-o-keyframes music01 {
    0% {
        height: 0px;
    }

    100% {
        height: 18px;
    }
}

@-webkit-keyframes music01 {
    0% {
        height: 0px;
    }

    100% {
        height: 18px;
    }
}

@keyframes music02 {
    0% {
        height: 0px;
    }

    100% {
        height: 14px;
    }
}

@-webkit-keyframes music02 {
    0% {
        height: 0px;
    }

    100% {
        height: 14px;
    }
}

@-moz-keyframes music02 {
    0% {
        height: 0px;
    }

    100% {
        height: 14px;
    }
}

@-ms-keyframes music02 {
    0% {
        height: 0px;
    }

    100% {
        height: 14px;
    }
}

@-o-keyframes music02 {
    0% {
        height: 0px;
    }

    100% {
        height: 14px;
    }
}

@keyframes music03 {
    0% {
        height: 0px;
    }

    100% {
        height: 4px;
    }
}

@-moz-keyframes music03 {
    0% {
        height: 0px;
    }

    100% {
        height: 4px;
    }
}

@-ms-keyframes music03 {
    0% {
        height: 0px;
    }

    100% {
        height: 4px;
    }
}

@-webkit-keyframes music03 {
    0% {
        height: 0px;
    }

    100% {
        height: 4px;
    }
}

@-o-keyframes music03 {
    0% {
        height: 0px;
    }

    100% {
        height: 4px;
    }
}


/* 背景特效 */
.bg div {
    position: absolute;
    z-index: 2;
}

.fly01 {
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    left: 0;
    bottom: 0;
    animation: fly01 18s linear infinite;
    -moz-animation: fly01 18s linear infinite;
    -ms-animation: fly01 18s linear infinite;
    -o-animation: fly01 18s linear infinite;
    -webkit-animation: fly01 18s linear infinite;
}

@keyframes fly01 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-o-keyframes fly01 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-moz-keyframes fly01 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-ms-keyframes fly01 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fly01 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

.fly02 {
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 300px;
    bottom: 0;
    animation: fly02 8s linear infinite;
    -moz-animation: fly02 8s linear infinite;
    -ms-animation: fly02 8s linear infinite;
    -o-animation: fly02 8s linear infinite;
    -webkit-animation: fly02 8s linear infinite;
}

@keyframes fly02 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-o-keyframes fly02 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-moz-keyframes fly02 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-ms-keyframes fly02 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fly02 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

.fly03 {
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 500px;
    bottom: 0;
    animation: fly03 15s linear infinite;
    -moz-animation: fly03 15s linear infinite;
    -ms-animation: fly03 15s linear infinite;
    -o-animation: fly03 15s linear infinite;
    -webkit-animation: fly03 15s linear infinite;
}

@keyframes fly03 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-o-keyframes fly03 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-moz-keyframes fly03 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-ms-keyframes fly03 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes fly03 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

.fly04 {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 550px;
    bottom: 0;
    animation: fly04 10s linear infinite;
    -moz-animation: fly04 10s linear infinite;
    -ms-animation: fly04 10s linear infinite;
    -o-animation: fly04 10s linear infinite;
    -webkit-animation: fly04 10s linear infinite;
}

@keyframes fly04 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-o-keyframes fly04 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-moz-keyframes fly04 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-ms-keyframes fly04 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes fly04 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

.fly05 {
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 600px;
    bottom: 0;
    animation: fly05 12s linear infinite;
    -moz-animation: fly05 12s linear infinite;
    -ms-animation: fly05 12s linear infinite;
    -o-animation: fly05 12s linear infinite;
    -webkit-animation: fly05 12s linear infinite;
}

@keyframes fly05 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-o-keyframes fly05 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-moz-keyframes fly05 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-ms-keyframes fly05 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fly05 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(360deg);
    }
}

.fly06 {
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
    animation: fly06 25s linear infinite;
    -moz-animation: fly06 25s linear infinite;
    -ms-animation: fly06 25s linear infinite;
    -o-animation: fly06 25s linear infinite;
    -webkit-animation: fly06 25s linear infinite;
}

@keyframes fly06 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-o-keyframes fly06 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-moz-keyframes fly06 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-ms-keyframes fly06 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes fly06 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

.fly07 {
    width: 800px;
    height: 800px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    right: -500px;
    bottom: -500px;
    animation: fly07 25s linear infinite alternate;
    -moz-animation: fly07 25s linear infinite alternate;
    -ms-animation: fly07 25s linear infinite alternate;
    -o-animation: fly07 25s linear infinite alternate;
    -webkit-animation: fly07 25s linear infinite alternate;
}

@keyframes fly07 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-o-keyframes fly07 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-moz-keyframes fly07 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-ms-keyframes fly07 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes fly07 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

.fly08 {
    width: 10px;
    height: 10px;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    position: absolute;
    right: 700px;
    bottom: 0;
    animation: fly08 15s linear infinite;
    -moz-animation: fly08 15s linear infinite;
    -ms-animation: fly08 15s linear infinite;
    -o-animation: fly08 15s linear infinite;
    -webkit-animation: fly08 15s linear infinite;
}

@keyframes fly08 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-o-keyframes fly08 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-moz-keyframes fly08 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-ms-keyframes fly08 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes fly08 {
    from {
        bottom: 0;
        transform: rotate(0deg);
    }

    to {
        bottom: 1000px;
        transform: rotate(-360deg);
    }
}

/* content */
body, html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    font-family: "微软雅黑";
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

    .content > div {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

        .content > div:nth-of-type(1) {
            background: url(../images/bg6.jpg);
            background-size: cover;
        }

        .content > div:nth-of-type(2) {
            background: url(../images/bg.jpg);
            background-size: cover;
        }

        .content > div:nth-of-type(3) {
            background: url(../images/bg4.jpg);
            background-size: cover;
        }

        .content > div:nth-of-type(4) {
            background: url(../images/bg5.jpg);
            background-size: cover;
        }

/* 导航 */
.nav {
    width: 100%;
    height: 80px;
    background: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

    .nav ul {
        width: 50%;
        height: 80px;
        margin: 0 auto;
        position: relative;
    }

        .nav ul li {
            float: left;
            width: 25%;
            height: 80px;
            text-align: center;
            line-height: 80px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

    .nav .logo {
        width: 80px;
        height: 80px;
        float: left;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -40px;
    }

    .nav img {
        padding-top: 10px;
    }

    .nav .current {
        color: #fff000;
    }

/* 第一屏 */
.one .screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.one .head {
    width: 100%;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left: -50%;
    margin-top: -100px;
    text-align: center;
}

    .one .head span {
        transition: all 2s;
        display: inline-block;
        font-size: 48px;
        color: #fff;
    }

        .one .head span:nth-of-type(1) {
            background-position: -254px -108px;
        }

        .one .head span:nth-of-type(2) {
            background-position: -345px -108px;
        }

        .one .head span:nth-of-type(3) {
            background-position: -438px -108px;
        }

        .one .head span:nth-of-type(4) {
            background-position: -529px -108px;
        }

        .one .head span:nth-of-type(5) {
            background-position: -620px -108px;
        }

        .one .head span:nth-of-type(6) {
            background-position: -711px -108px;
        }

.one .footer {
    transition: all 2s;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50%;
    margin-top: 50px;
    text-align: center;
}

    .one .footer span {
        display: inline-block;
        margin: 0 20px;
    }

        .one .footer span:nth-of-type(1) {
            background-position: -149px -247px;
        }

        .one .footer span:nth-of-type(2) {
            background-position: -276px -247px;
        }

        .one .footer span:nth-of-type(3) {
            background-position: -403px -247px;
        }

        .one .footer span:nth-of-type(4) {
            background-position: -530px -247px;
        }

        .one .footer span:nth-of-type(5) {
            background-position: -657px -247px;
        }

        .one .footer span:nth-of-type(6) {
            background-position: -784px -247px;
        }

.one.out .head span {
    opacity: 0.1;
    margin: 0 50px;
}

.one.out .footer {
    opacity: 0.1;
    margin-top: 500px;
}

/* 第二屏 */
.two_con {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: relative;
    z-index: 5;
}

    .two_con > div {
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        cursor: pointer;
        margin-top: -100px;
        transition: all 2s;
    }

        .two_con > div:nth-of-type(1) {
            margin-left: -500px;
        }

        .two_con > div:nth-of-type(2) {
            margin-left: -100px;
        }

        .two_con > div:nth-of-type(3) {
            margin-left: 300px;
        }

    .two_con .first_in {
        position: relative;
    }

.first_in > div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.first_in .current {
    display: block;
}

.first_in .ps {
    background: #2c2b47;
    color: #38c4fb;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    border: 5px solid #38c4fb;
    box-sizing: border-box;
}

.two_con .second_in {
    position: relative;
}

.second_in > div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.second_in .current {
    display: block;
}

.second_in .ai {
    background: #1f140c;
    color: #ff7e17;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    border: 5px solid #ff7e17;
    box-sizing: border-box;
}

.two_con .third_in {
    position: relative;
}

.third_in > div {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.third_in .current {
    display: block;
}

.third_in .dw {
    background: #131f0e;
    color: #72f900;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    border: 5px solid #72f900;
    box-sizing: border-box;
}

.wave {
    background: #2c2b47;
    border: 5px solid #38c4fb;
    box-sizing: border-box;
    text-align: center;
}

.wave1 {
    background: #1f140c;
    text-align: center;
    border: 5px solid #ff7e17;
    box-sizing: border-box;
}

.wave2 {
    background: #131f0e;
    text-align: center;
    border: 5px solid #72f900;
    box-sizing: border-box;
}

.two_con span {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
}

.wave span {
    color: #38c4fb;
    margin-top: 50px;
}

.wave1 span {
    color: #ff7e17;
    margin-top: 60px;
}

.wave2 span {
    color: #72f900;
    margin-top: 10px;
}

.two.out .first {
    margin-left: -800px;
    margin-top: 500px;
    opacity: 0;
}

.two.out .second {
    margin-top: 500px;
    opacity: 0;
}

.two.out .third {
    margin-left: 800px;
    margin-top: 500px;
    opacity: 0;
}

/* 第三屏 */
.three .screen {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.subnav ol {
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    width: 150px;
    height: 340px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -620px;
    margin-top: -170px;
}

    .subnav ol li {
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        background: #000;
        color: #fff;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
    }

        .subnav ol li:hover {
            transform: scale(1.1,1.1);
            -webkit-transform: scale(1.1,1.1);
            -moz-transform: scale(1.1,1.1);
            background: #fff;
            color: #000;
        }

.three.out .subnav ol {
    margin-left: -2000px;
    transform: scale(3,3);
    -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
    opacity: 0;
}

/* app */
.three .app {
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    perspective: 3000px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -140px;
    z-index: 5;
}

    .three .app ul {
        position: relative;
        width: 163px;
        height: 290px;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        animation: run 30s linear infinite;
        -o-animation: run 30s linear infinite;
        -webkit-animation: run 30s linear infinite;
        -moz-animation: run 30s linear infinite;
        transform: rotateX(-10deg);
        -webkit-transform: rotateX(-10deg);
        -moz-transform: rotateX(-10deg);
    }

@keyframes run {
    0% {
        transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-10deg) rotateY(360deg);
    }
}

@-moz-keyframes run {
    0% {
        -moz-transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        -moz-transform: rotateX(-10deg) rotateY(360deg);
    }
}

@-o-keyframes run {
    0% {
        -o-transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        -o-transform: rotateX(-10deg) rotateY(360deg);
    }
}

@-webkit-keyframes run {
    0% {
        -webkit-transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: rotateX(-10deg) rotateY(360deg);
    }
}

@-ms-keyframes run {
    0% {
        -ms-transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        -ms-transform: rotateX(-10deg) rotateY(360deg);
    }
}

.three .app ul:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
}

.three .app ul li:hover {
    width: 220px;
    height: 450px;
    margin-top: -80px;
}

.three .app ul li {
    width: 163px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    height: 310px;
    font-size: 80px;
    text-align: center;
    line-height: 290px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}

    .three .app ul li:nth-of-type(1) {
        background: url(../images/app.png) no-repeat 0 0;
        background-size: cover;
    }

    .three .app ul li:nth-of-type(2) {
        background: url(../images/app1.png) no-repeat 0 0;
        background-size: cover;
    }

    .three .app ul li:nth-of-type(3) {
        background: url(../images/app2.png) no-repeat 0 0;
        background-size: cover;
    }

    .three .app ul li:nth-of-type(4) {
        background: url(../images/app3.png) no-repeat 0 0;
        background-size: cover;
    }

    .three .app ul li:nth-of-type(5) {
        background: url(../images/app4.png) no-repeat 0 0;
        background-size: cover;
    }

    .three .app ul li:nth-of-type(6) {
        background: url(../images/app5.png) no-repeat 0 0;
        background-size: cover;
    }

    .three .app ul li:nth-of-type(7) {
        background: url(../images/app6.png) no-repeat 0 0;
        background-size: cover;
    }

    .three .app ul li:nth-of-type(8) {
        background: url(../images/app7.png) no-repeat 0 0;
        background-size: cover;
    }

    .three .app ul li a {
        width: 163px;
        height: 290px;
        display: inline-block;
    }

.three.out .app {
    opacity: 0;
    margin-top: 1000px;
}

    .three.out .app ul {
        opacity: 0;
        margin-top: 1000px;
    }

/* web */
.three .web {
    width: 800px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -200px;
    z-index: 5;
    display: none;
}

    .three .web ul {
        transition: all 1.5s;
        -moz-transition: all 1.5s;
        -webkit-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition-delay: 1s;
        -moz-transition-delay: 1s;
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        width: 800px;
        height: 300px;
        padding: 25px 0 0 50px;
    }

    .three .web li {
        transition: all 0.8s;
        -moz-transition: all 0.8s;
        -webkit-transition: all 0.8s;
        -o-transition: all 0.8s;
        float: left;
        width: 200px;
        height: 150px;
        border-radius: 10px;
        margin: 0 50px 50px 0;
        cursor: pointer;
    }

        .three .web li:nth-of-type(1) {
            background: url(../images/17u.png) no-repeat 0 0;
        }

        .three .web li:nth-of-type(2) {
            background: url(../images/jinqu.png) no-repeat 0 0;
        }

        .three .web li:nth-of-type(3) {
            background: url(../images/kwx.png) no-repeat 0 0;
        }

        .three .web li:nth-of-type(4) {
            background: url(../images/027yx.png) no-repeat 0 0;
        }

        .three .web li:nth-of-type(5) {
            background: url(../images/027new.png) no-repeat 0 0;
        }

        .three .web li:nth-of-type(6) {
            background: url(../images/more.png) no-repeat 0 0;
        }

    .three .web ul li a {
        width: 200px;
        height: 150px;
        display: inline-block;
    }

.three.out .web ul {
    margin-top: 1000px;
    transform: scale(0.1,0.1);
    -webkit-transform: scale(0.1,0.1);
    -moz-transform: scale(0.1,0.1);
    opacity: 0;
}

/* Icon */
.three .icon {
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    width: 980px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -400px;
    z-index: 5;
    display: none;
}

.icon .icon_show {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
}

.icon ul {
    position: relative;
}

.three .icon li {
    width: 180px;
    height: 180px;
    float: left;
    margin: 0 50px 50px 0;
    cursor: pointer;
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    font-size: 24px;
    color: #fff;
}

.icon ul li:nth-of-type(1) {
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
}

.icon ul li:nth-of-type(2) {
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
}

.icon ul li:nth-of-type(3) {
    transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
}

.icon ul li:nth-of-type(4) {
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
}

.icon ul li:nth-of-type(5) {
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
}

.icon ul li:nth-of-type(6) {
    transition-delay: 2s;
    -moz-transition-delay: 2s;
    -webkit-transition-delay: 2s;
    -o-transition-delay: 2s;
}

.icon ul li:nth-of-type(7) {
    transition-delay: 2.5s;
    -moz-transition-delay: 2.5s;
    -webkit-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
}

.icon ul li:nth-of-type(8) {
    transition-delay: 3s;
    -moz-transition-delay: 3s;
    -webkit-transition-delay: 3s;
    -o-transition-delay: 3s;
}

.three.out .icon {
    margin-top: 1000px;
    transform: scale(0.1,0.1);
    -webkit-transform: scale(0.1,0.1);
    -moz-transform: scale(0.1,0.1);
    opacity: 0;
}


/* Ui */
.three .ui {
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    perspective: 3000px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -120px;
    z-index: 5;
    display: none;
}

    .three .ui ul {
        position: relative;
        width: 163px;
        height: 290px;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        animation: go 30s linear infinite;
        -o-animation: go 30s linear infinite;
        -webkit-animation: go 30s linear infinite;
        -moz-animation: go 30s linear infinite;
        transform: rotateX(-10deg);
        -webkit-transform: rotateX(-10deg);
        -moz-transform: rotateX(-10deg);
    }

@keyframes go {
    0% {
        transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-10deg) rotateY(360deg);
    }
}

@-moz-keyframes go {
    0% {
        -moz-transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        -moz-transform: rotateX(-10deg) rotateY(360deg);
    }
}

@-o-keyframes go {
    0% {
        -o-transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        -o-transform: rotateX(-10deg) rotateY(360deg);
    }
}

@-webkit-keyframes go {
    0% {
        -webkit-transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        -webkit-transform: rotateX(-10deg) rotateY(360deg);
    }
}

@-ms-keyframes go {
    0% {
        -ms-transform: rotateX(-10deg) rotateY(0deg);
    }

    100% {
        -ms-transform: rotateX(-10deg) rotateY(360deg);
    }
}

.three .ui ul:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
}

.three .ui ul li:hover {
    width: 220px;
    height: 391px;
    margin-top: -80px;
}

.three .ui ul li {
    width: 163px;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    height: 290px;
    font-size: 80px;
    text-align: center;
    line-height: 290px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
}

    .three .ui ul li:nth-of-type(1) {
        background: url(../images/ui.jpg) no-repeat 0 0;
        background-size: cover;
    }

    .three .ui ul li:nth-of-type(2) {
        background: url(../images/ui1.jpg) no-repeat 0 0;
        background-size: cover;
    }

    .three .ui ul li:nth-of-type(3) {
        background: url(../images/ui2.jpg) no-repeat 0 0;
        background-size: cover;
    }

    .three .ui ul li:nth-of-type(4) {
        background: url(../images/ui3.jpg) no-repeat 0 0;
        background-size: cover;
    }

    .three .ui ul li:nth-of-type(5) {
        background: url(../images/ui4.jpg) no-repeat 0 0;
        background-size: cover;
    }

    .three .ui ul li:nth-of-type(6) {
        background: url(../images/ui5.jpg) no-repeat 0 0;
        background-size: cover;
    }

    .three .ui ul li:nth-of-type(7) {
        background: url(../images/ui6.jpg) no-repeat 0 0;
        background-size: cover;
    }

    .three .ui ul li:nth-of-type(8) {
        background: url(../images/ui7.jpg) no-repeat 0 0;
        background-size: cover;
    }

    .three .ui ul li a {
        width: 163px;
        height: 290px;
        display: inline-block;
    }

.three.out .ui {
    opacity: 0;
    margin-top: 1000px;
}

    .three.out .ui ul {
        opacity: 0;
        margin-top: 1000px;
    }

/* banner */

img {
    display: block;
}

.banner {
    transition: all 1.5s;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    width: 800px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -200px;
    z-index: 5;
    display: none;
}

.banner_in {
    position: relative;
    width: 800px;
    height: 400px;
}

    .banner_in ul {
        position: relative;
        z-index: 1;
    }

        .banner_in ul li {
            position: absolute;
            left: 0;
            top: 0;
            display: none;
        }

    .banner_in .current {
        display: block;
    }

    .banner_in ol {
        position: absolute;
        left: 50%;
        margin-left: -140px;
        bottom: -60px;
        z-index: 2;
    }

        .banner_in ol li {
            float: left;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fff;
            text-align: center;
            line-height: 20px;
            margin-left: 20px;
            cursor: pointer;
        }

        .banner_in ol .current {
            background: yellow;
        }

    .banner_in span {
        background: url(../images/arr.png) no-repeat left 0;
        width: 40px;
        height: 70px;
        float: left;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 50%;
        margin-top: -35px;
        cursor: pointer;
        display: none;
    }

    .banner_in .right {
        right: 0;
        left: auto;
        background-position: right top;
    }

.three.out .banner {
    opacity: 0;
    margin-top: -1500px;
    transform: scale(1.5,1.5);
    -webkit-transform: scale(1.5,1.5);
    -moz-transform: scale(1.5,1.5);
}

/* 第四屏 */

.about {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    z-index: 5;
}

.about_in {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
    position: relative;
    box-shadow: 0 0 20px;
    z-index: 10;
}

    .about_in .span01 {
        width: 550px;
        height: 250px;
        margin-left: -275px;
        margin-top: -80px;
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 4;
        cursor: pointer;
    }

    .about_in .span02 {
        width: 550px;
        height: 120px;
        margin-left: -275px;
        margin-top: -40px;
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 4;
        cursor: pointer;
    }


.skill {
    font-size: 24px;
    color: #000;
    position: absolute;
    margin: 20px;
    width: 100px;
    text-align: center;
    background: rgba(255,255,255,0.15);
    box-shadow: 0 0 10px;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

    .skill:hover {
        animation-play-state: paused;
        -moz-animation-play-state: paused;
        -ms-animation-play-state: paused;
        -o-animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }

.skill01 {
    left: 8%;
    animation: skill01 15s linear infinite;
    -moz-animation: skill01 15s linear infinite;
    -ms-animation: skill01 15s linear infinite;
    -o-animation: skill01 15s linear infinite;
    -webkit-animation: skill01 15s linear infinite;
}

.skill02 {
    left: 18%;
    animation: skill01 12s linear infinite;
    -moz-animation: skill01 12s linear infinite;
    -ms-animation: skill01 12s linear infinite;
    -o-animation: skill01 12s linear infinite;
    -webkit-animation: skill01 12s linear infinite;
}

.skill03 {
    width: 120px;
    left: 28%;
    animation: skill01 10s linear infinite;
    -moz-animation: skill01 10s linear infinite;
    -ms-animation: skill01 10s linear infinite;
    -o-animation: skill01 10s linear infinite;
    -webkit-animation: skill01 10s linear infinite;
}

.skill04 {
    left: 38%;
    animation: skill01 8s linear infinite;
    -moz-animation: skill01 8s linear infinite;
    -ms-animation: skill01 8s linear infinite;
    -o-animation: skill01 8s linear infinite;
    -webkit-animation: skill01 8s linear infinite;
}

.skill05 {
    left: 48%;
    animation: skill01 6s linear infinite;
    -moz-animation: skill01 6s linear infinite;
    -ms-animation: skill01 6s linear infinite;
    -o-animation: skill01 6s linear infinite;
    -webkit-animation: skill01 6s linear infinite;
}

.skill06 {
    left: 58%;
    animation: skill01 4s linear infinite;
    -moz-animation: skill01 4s linear infinite;
    -ms-animation: skill01 4s linear infinite;
    -o-animation: skill01 4s linear infinite;
    -webkit-animation: skill01 4s linear infinite;
}

.skill07 {
    left: 68%;
    animation: skill01 18s linear infinite;
    -moz-animation: skill01 18s linear infinite;
    -ms-animation: skill01 18s linear infinite;
    -o-animation: skill01 18s linear infinite;
    -webkit-animation: skill01 18s linear infinite;
}

.skill08 {
    width: 140px;
    left: 80%;
    animation: skill01 20s linear infinite;
    -moz-animation: skill01 20s linear infinite;
    -ms-animation: skill01 20s linear infinite;
    -o-animation: skill01 20s linear infinite;
    -webkit-animation: skill01 20s linear infinite;
}

@keyframes skill01 {
    from {
        bottom: 10%;
        transform: rotate(0deg);
    }

    to {
        bottom: 50%;
        transform: rotate(360deg);
    }
}

@-o-keyframes skill01 {
    from {
        bottom: 10%;
        transform: rotate(0deg);
    }

    to {
        bottom: 50%;
        transform: rotate(360deg);
    }
}

@-moz-keyframes skill01 {
    from {
        bottom: 10%;
        transform: rotate(0deg);
    }

    to {
        bottom: 50%;
        transform: rotate(360deg);
    }
}

@-ms-keyframes skill01 {
    from {
        bottom: 10%;
        transform: rotate(0deg);
    }

    to {
        bottom: 50%;
        transform: rotate(360deg);
    }
}

@-webkit-keyframes skill01 {
    from {
        bottom: 10%;
        transform: rotate(0deg);
    }

    to {
        bottom: 50%;
        transform: rotate(360deg);
    }
}
